bin/
obj/
out/

.idea/
*.DotSettings.user
*.DotSettings
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/shelf/
*.sln.iml

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates


# NuGet
*.nupkg
packages/
node_modules/

*.log
*.cache
*.pid


.DS_Store
*~
Thumbs.db
ehthumbs.db

.idea/runConfigurations/
_ReSharper*/
*.ReSharper
*.VisualState.xml
*.Cache
